<div class="relative flex flex-col items-center py-14 px-8 h-full">
  <div class="absolute z-0">
    <img src="assets/X_blur.png" alt="x">
  </div>

  <div class="flex flex-col items-center py-14 px-8 justify-between h-full">
    <div class="flex items-center space-x-8">
      <div class="text-white text-9xl" style="text-shadow: 0 4px 30px #E7ECEF;">4</div>
      <div><img src="assets/O.png" alt="O" width="100"></div>
      <div class="text-white text-9xl" style="text-shadow: 0 4px 30px #E7ECEF;">4</div>
    </div>
    <div class="text-4xl text-center">
      Sorry, you has beaten our <br> whole game...
    </div>
    <button (click)="startGame()" class="primary-button z-10" style="box-shadow: 0 0 60px #0F7173;">Bring me back
    </button>
  </div>
</div>
