<div class="relative flex flex-col items-center py-14 px-8">
  <div class="absolute z-0">
    <img src="assets/X_blur.png" alt="x">
  </div>

  <div class="flex flex-col items-center py-14 px-8 space-y-24 justify-between">
    <div class="flex items-center space-x-8">
      <div class="text-design">4</div>
      <div><img src="assets/O.png" alt="O" width="100"></div>
      <div class="text-design">4</div>
    </div>
    <div class="text-4xl text-center">
      Sorry, you has beaten our <br> whole game...
    </div>
    <button (click)="startGame()" class="primary-button z-10">Bring me back
    </button>
  </div>
</div>
