/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

body {
  @apply bg-black text-white;
  font-family: 'Montserrat', sans-serif;
}

.headline {
  font-family: 'Bebas Neue', cursive;
}

.primary-button {
  @apply bg-white text-2xl font-semibold text-red px-16 py-6 rounded-2xl hover:bg-green hover:text-white;
  box-shadow: 0 0 60px #0F7173;
}

.secondary-button {
  @apply bg-white text-2xl border-2 border-white font-semibold px-16 py-6 rounded-2xl hover:text-white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #272932;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #0F7173, #272932, #f05d5e);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f05d5e;
  border-radius: 15px;
}
